.side-nav{
    padding: 0;
    height: 92vh;
    .side-navbar{
    height: 92vh;
    .side-nav-container{
        padding: 0;
        .side-nav-item{
            cursor: pointer;
            list-style: none;
            background: #ededed;
            border: 1px solid #fff;
            padding:26px 25px 26px 25px;
            position:relative;
            &:focus{
                outline: none;
            }
            &.active{
                background: #0099FF;
                box-shadow: inset 0px 0px 20px #0066CC;
                outline: none;
                .side-nav-tab{
                    .side-nav-link{
                        color:white;
                    }
                }            
            }
            .side-nav-tab{
                span{
                    color:#000;
                    padding-left: 20px;
                }
                .side-nav-link{
                    padding-left: 20px;
                    color: #000;
                    text-decoration: none;
                }
            }
            progress-indicator{
                width: 100%;
                height: 10px;
            }
        }
    }
}
}