/* You can add global styles to this file, and also import other style files */
.no-padding{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
    .btn{
        cursor: pointer;
        text-transform: uppercase;
    }
    .btn-primary{
        background: #00a7f8;
        border-color: #00a7f8;
        padding-left:30px;
        padding-right:30px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
}
.input-styling{
    margin-top:20px; 
    text-align: center;
    .back-btn{
        background: transparent;
        margin-right: 20px;
        color:#b5b5b5;
        border:none;
        cursor: pointer;
    }
    .input-heading{
        font-size: 1.2em;
        color:#0066CC;
        font-weight: 600;
        margin-bottom: 0;
        margin-top:10px;
        margin-left:3px;
        :not(+.input-sub-heading){
           margin-bottom: 30px; 
        }
    }
    .input-sub-heading{
        font-size: 0.9em;
        color:#b5b5b5;
        font-weight: 400;
        margin-bottom: 30px;
        margin-left:3px; 
    }
    .group{
        position: relative;
        margin-bottom: 25px;
        input{
            border:none;
            color:#0066CC;
            outline:none;
            display: block;
            border-bottom:1px solid #b8b8b8; 
            width: 300px;
            &:focus{
                outline: none;
            }
            &:focus ~ label, &:valid ~ label {
                top:-20px;
                font-size:14px;
                color:#0066CC;
            }
            &:focus ~ .bar:before, &:focus ~ .bar:after {
                width:50%;
            }
            &:focus ~ .highlight {
                -webkit-animation:inputHighlighter 0.3s ease;
                -moz-animation:inputHighlighter 0.3s ease;
                animation:inputHighlighter 0.3s ease;
            }
            &::-webkit-outer-spin-button,&::-webkit-inner-spin-button {
                display: none;
                -webkit-appearance: none;
                margin: 0;
            }
        }
        .bar {
            position:relative;
            display:block;
            width:300px;
            &:before, &:after {
                content:'';
                height:2px; 
                width:0;
                bottom:1px; 
                position:absolute;
                background:#0099FF; 
                transition:0.2s ease all; 
                -moz-transition:0.2s ease all; 
                -webkit-transition:0.2s ease all;
            }
            &:before {
                left:50%;
            }
            &:after {
                right:50%; 
            }
        }
        label{
            pointer-events: none;
            color: #b5b5b5;
            font-weight: normal;
            position: absolute;
            left: 0;
            bottom: 0;
            transition:0.2s ease all;
        }
        .highlight {
            position:absolute;
            height:60%; 
            width:100px; 
            top:25%; 
            left:0;
            pointer-events:none;
            opacity:0.5;
        }
        @-webkit-keyframes inputHighlighter {
	        from { background:#0099FF; }
            to{ width:0; background:transparent; }
        }
        @-moz-keyframes inputHighlighter {
	        from { background:#0099FF; }
            to { width:0; background:transparent; }
        }
        @keyframes inputHighlighter {
	        from { background:#0099FF; }
            to { width:0; background:transparent; }
        }
    }
}
