.input-inline{
    .col-sm-8{
        margin-right: 30px;
        input{
           width: 170px;
           margin-left: -15px;
        }
        .bar{
            width:170px;
            margin-left: -15px;
        }
    }
    .col-sm-2{
        border-left:2px solid #0099FF;
        input{
            width:60px;
        }
        label{
            left:10px;
        }
        .bar{
            width:60px;
        }
    }
}