<div class="contaner-fluid">
    <div class="row align-items-center">
        <div class="offset-sm-3 col-sm-6 input-styling">
            <div class="row input-heading">Account Information</div>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>First Name</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Middle Name</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Last Name</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Preffered Email</label>
            </div>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Phone#</label>
            </div>
            <label class="btns-lebels">Preffered Method of Communication</label>
            <div class="row btns-group">
                <button [class.btn-account]="true" btn-cliked [class.btn-cliked]="phoneCliked" (click)="onOptionClick($event)">Phone</button>
                <button [class.btn-account]="true" [class.btn-cliked]="emailCliked" (click)="onOptionClick($event)">Email</button>
                <button [class.btn-account]="true" [class.btn-cliked]="textCliked" (click)="onOptionClick($event)">Text</button>
                <button [class.btn-account]="true" [class.btn-cliked]="allCliked" (click)="onOptionClick($event)">All</button>
            </div>
            <div class="row justify-content-between col-sm-8">
                <div class="col-sm-6">
                    <button class="btn back-btn" (click)="goBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Back</button>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-primary" (click)="loadNext()">Next</button>
                </div>
            </div>
        </div>

    </div>
</div>