<!--<div class="contaner-fluid">
<div class="row align-items-center">
  <div class="offset-sm-3 col-sm-6 input-styling">
    <div class="row input-heading">Purchase property details</div>
    <div class="group">      
     <input type="number" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>Property Type</label>
   </div>
   <div class="row group propertyQuestions">  
     <div class="col-md-6">
       <span class="highlight"></span>
        <span class="bar"></span>
       <label>Have you selected a property?</label>
       <button class="btn btn-primary smBtn" required>Yes</button>
       <button class="btn" required>No</button>
    </div>    
     <div class="col-md-6">
       <span class="highlight"></span>
        <span class="bar"></span>
       <label>Are you in contract?</label>
       <button class="btn btn-primary smBtn" required>Yes</button>
       <button class="btn" required>No</button>
    </div>  
     
   </div>
   <div class="group">      
     <input type="number" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>Property Use</label>
   </div>
   <div class="group">      
     <input type="number" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>Address</label>
   </div>
   <div class="group">      
     <input type="number" required>
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>City</label>
   </div>
   <div class="row">
    <div class="col-md-4 group">   
        <div class="group">     
          <input type="number" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>State</label>
        </div>
      </div>
      <div class="col-md-4 group"></div>
      <div class="col-md-4 group">  
        <div class="group">    
          <input type="number" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Zipcode</label>
        </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-3">
        <button class="btn back-btn">Back</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary" (click)="loadNext()">Next</button>
      </div>
   </div>
  </div>
</div>
</div>-->
