.propertyQuestions{
    margin-bottom: 40px;
    button{
            line-height: 0.25;
            position: relative;
            top: 15px;
            float:left;
            margin-right: 5px;
            font-size: 12px;
    }
    label{
        padding-left:15px;
    }
}