<section class="container-fluid no-padding launch-home">
  <div class="row align-items-center">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 launch-home-text">
      Welcome back, lets continue from where we left off<br><b>Its time to Docitt!</b><br>
      <button type="button" class="btn btn-primary" (click)="loadNext()">Continue</button>
    </div>
    <div class="col-sm-2"></div>
  </div>
</section>
